main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main > form {
    background-color: var(--red);
    padding: 1rem 1rem 0.75rem 1rem;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

main > form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main > form > div > input {
    flex: 0;
}

main > form > div > label {
    flex: 1;
}

main > form > div button {
    border-color: var(--red);
    border-radius: 5px;
    border-width: 2px;
    margin: 0.125rem;
}

.button-div {
    background-color: var(--white);
    border-radius: 6px;
    margin: 0.5rem 0rem 0rem 0rem;
}

main  a {
    background-color: var(--white);
    color: var(--red);
    padding: 0.25rem;
    border-radius: 7px;
    margin: 0.5rem 0rem 0rem 0rem;
}