:root {
    --white: #fafafa;
    --black: #202020;
    --green: #40aa40;
    --blue: #40a0f0;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 80px;
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
}

footer {
    flex: 0 40px;
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

header > h1 > a {
    color: var(--green); 
    background-color: var(--white);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

header > i {
    flex: 1;
    justify-content: right;
    text-align: right;
    margin: 1rem;
    font-size: 1.25rem;
    color: var(--white);
}

header > div {
    background-color: var(--white);
    border-radius: 13px;
    margin: 0.75rem;
}

header button {
    border-radius: 10px;
    border-width: 3px;
    border-color: var(--green);
    margin: 0.25rem;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--green);
}

#home-main-div {
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem;
}

#latest-saved-mazes-div {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 0rem 1rem 1rem;
}

#latest-saved-mazes-div > h2 {
    text-align: center;
}

#latest-saved-mazes-mazes-div {
    display: flex;
    flex-direction: column;
}

#latest-saved-mazes-mazes-div > svg {
    flex: 1;
}

#latest-saved-maze-2 {
    margin: 1rem 0rem;
}

svg {
    border: 1px solid var(--black);
}

#maze-generation {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
}

#input-div {
    display: flex;
    flex-direction: row;
}