* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

header{
    background-color: #40aa40;
    border-radius: 10px;
}

header > h1 > a {
    color: #40aa40; 
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

header > i {
    flex: 1;
    justify-content: right;
    text-align: right;
    margin: 1rem;
    font-size: 1.25rem;
}

header > button {
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

#home-main-div {
    display: flex;
    flex-direction: row;
}

#latest-saved-mazes-div {
    background-color: #40a0f0;
    border-radius: 10px;
    padding: 0rem 1rem 1rem;
}

#latest-saved-mazes-div > h2 {
    text-align: center;
}

#latest-saved-mazes-mazes-div {
    display: flex;
    flex-direction: column;
}

#latest-saved-maze-2 {
    margin: 1rem 0rem;
}