#saved_mazes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#saved_mazes > div {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 1rem 1rem 0.5rem 1rem;
}

#saved_mazes > div > svg {
    flex: 1;
    width: 100%;
}

#saved_mazes div.info {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem 0rem 0rem;
    align-items: center;
    margin: 0rem 1rem;
}

#saved_mazes > div > div > div.text-div {
    flex: 1;
    text-align: left;
}

#saved_mazes > div > div > div.button-div {
    background-color: var(--white);
    border-radius: 6px;
}

#saved_mazes > div > div > div > button {
    flex: 1;
    border-radius: 5px;
    border-color: var(--blue);
    margin: 0.125rem;
}

@media (orientation: portrait) {
    #saved_mazes {
        grid-template-columns: 1fr;
    }
}