rect.blocked {
    fill: var(--dark-gray);
}

rect.empty, rect.selectable {
    fill: var(--light-gray);
}

rect.selected {
    fill: var(--green);
}

rect.path {
    fill: var(--gray);
}

@media (hover: hover) {
    rect.selectable:hover {
        fill: var(--light-gray-1);
    }

    rect.selected:hover {
        fill: var(--green-1);
    }
}