div.body {
    background-color: var(--white);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    margin: 1rem 0rem;
}

svg {
    border: 1px solid var(--black);
}

button {
    background-color: var(--white);
}

@media (hover: hover) {
    button:enabled:hover {
        background-color: var(--white-1);
    }
}